.error {
    border: 2px solid red;
    background-color: #1d1e1f;
    color: red;
}

.correct {
    border: 2px solid green;
    background-color: #1d1e1f;
    color: green;
}

.footer {
    border: 2px solid #fff000;
    background-color: #1d1e1f;
    color: #fff000;
    width: 100%;
    position: absolute;
}

#map {
    height: 80%;
}